{% extends 'base.html' %}

{% block main %}

<div class="container_movies">
		<div class="movies">
            <div class="player_movie">
                <div class="player_movie_cover_inner">
                    <img src="../media/{{ movie.image }}" class="movie_cover"/>
                </div>

                <div class="player_movie_info">
                    <div class="player_movie_title">{{ movie.name }}</div>

                    <div class="player_movie_category">Жанр:
                        <span class="player_movie_categories_text">{{ movie.category}}</span></div>

                    <div class="movie_description">
                        <span class="player_movie_description_text">{{ movie.description}}</span>
                    </div>
                </div>



            <div class="movie_player_block">

                <!-- <div    id="kinoplayertop" data-player="bazon" data-kinopoisk="{{ movie.kinopoisk_id }}"></div>
                <script src="//kinoplayer.top/top.js"></script> -->

                    <!-- Include WebTorrent -->
                    <script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>

                    <!-- Torrent streaming -->
                    <script>
                        
                        torrentId = "{{ movie.magnet_link }}"
                        torrentId = torrentId.split('amp;').join('')
                        console.log(torrentId)
                        const client = new WebTorrent()
                        client.add(torrentId, onTorrent)

                        // Render media files into to the page
                        function onTorrent (torrent) {
                            torrent.files.forEach(function (file) {
                                if (file.name.endsWith('.mp4'))
                                {
                                    file.appendTo('.movie_player_block')
                                }
                            })
                        }
                    </script>
                </div>
            </div>

        </div>
</div>
{% endblock %}