* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    /* font-family: "Anton", sans-serif; */
    font-family: "Open Sans", sans-serif;

    background-image: url(img/red_fon.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ====HEADER==== */

.header {
    width: 100%;
    height: 80px;



    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    background: linear-gradient(0deg, rgb(2 1 1 / 0%) 0%, rgb(11 6 42) 100%);

    position: fixed;
    top: 0;
    z-index: 100;
}

.header_inner {
    padding: 0 10%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.header_brand {
    margin: auto 0;
}

.header_brand_text {
    /* font-family: "Aldrich", sans-serif; */
    text-align: center;
    font-size: 40px;
	text-decoration: none;
	color: #fff;

	font-weight: bold;
	transition: color 0.2s linear;
}

.header_brand_text:hover {
	color: #ff4343;
}

.header_logo {

    margin: auto 0;
    justify-self: left;
}

.logo_cover {
    width: 60px;
    height: 60px;
}

.header_nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin:auto;

}

.link {
    display: inline-block;

}

.header_nav_link_text {
    font-family: "Anton", sans-serif;
    color:#fff;
    font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	transition: color 0.2s linear;
    letter-spacing: 1px;
}

.header_nav_link_text:hover {
	color: #ff4343;
}

/* 
.header_search {

    width: 250px;
    display: inline-block;
    margin: auto 0;
}
.header_search:after {content:""; clear:both; display:table}
.header_search form {
    width: auto;
    float: right;
}
.header_search input {
    border: 2px solid #F9F0DA;
    width: 150px;
    height: 42px;
    padding-left: 15px;
    border: 0px solid #000000;
    background: #F9F0DA;
    outline: none;
    transition: .3s linear;
    } */

.tb {
	display: table;
	width: 100%;
  }

  .td {
	display: table-cell;
	vertical-align: middle;
  }

  input,
  button {
	margin: auto 0;height: 33px;color: #fff;
	font-family: Nunito;
	padding: 0;

	border: 0;
	background-color: transparent;
  }

  .cover {
	  display:flex;
	  justify-content:right;


  }
  #cover {

	/* margin: auto; */top: 50%;
	left: 0;
	right: 0;
	width: 282px;
  height: 80px;
	padding: 8px;
	padding-left: 22px;background-color: #462f2fbd;
	border-radius: 20px;
	border: 2px gradient red;/* box-shadow: 0 5px 20px #ff7c7c, 0 0 0 10px #ffffffeb; */
	transform: scale(0.6);
  }

  form {
	height: 50px;
	font-size:40px;

  }

  input[type="search"] {
	outline: none;width: 100%;
	/* height: 33px; */
	font-size: 35px;
	line-height: 1;
  }

  input[type="search"]::placeholder {
	color: #ffffff;
  }

  #s-cover {
	width: auto;
	/* padding-left: 0px; */
  }

  button {
	position: relative;
	display: flex;
	width: 56px;
	height: 26px;
	cursor: pointer;
  padding-left: 10px;}

  #s-circle {
	position: relative;
	top: -10px;
	/* left: 30px; */
	width: 37px;
	height: 35px;
	margin-top: 0;
	/* border-width: 19px; */
	border: 7px solid #fff;
	background-color: transparent;
	border-radius: 50%;
	transition: 0.5s ease all;
  }

  button span {
	position: absolute;
	top: 40px;
	left: 30px;
	display: block;
	width: 45px;
	height: 15px;
	background-color: transparent;
	border-radius: 10px;
	transform: rotateZ(52deg);
	transition: 0.5s ease all;
  }

  button span:before,
  button span:after {
	content: "";
	position: absolute;
	bottom: 8px;
	right: 30px;
	width: 27px;
	height: 9px;
	background-color: #fff;
	border-radius: 10px;
	transform: rotateZ(0);
	transition: 0.5s ease all;
  }

  #s-cover:hover #s-circle {
	top: 9px;
	width: 39px;
	height: 9px;
	border-width: 0;
	background-color: #fff;
	border-radius: 20px;
  }

  #s-cover:hover span {
	top: 50%;
	left: 56px;
	width: 25px;
	margin-top: -9px;
	transform: rotateZ(0);
  }

  #s-cover:hover button span:before {
bottom: 11px;
transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
bottom: -11px;
transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
right: 18px;
width: 34px;
background-color: #fff;
}


/* ====CONTENT====*/

.container_movies {
    margin: auto;
    margin-top: 150px;
    max-width: 850px;
    background-color: #462f2fbd;

    border-radius: 15px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 10px;
    position: relative;
    right: auto;
    left: auto;
}

.movie_cover_inner {
    position: relative;
    height: 360px;
}

.movie_cover {
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
}

.movie_title {
    margin-top: 6px;
    font-size: 16px;
    color: #ffffff;
}

.movie_category {
    font-style: italic;
    font-size: 14px;
    color: #e9de8e;
}
.movie_average {
    position: absolute;
	top: 10px;
	left: 10px;
	right: 0;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a191f;
	color: #ffffff;
	font-size: 14px;
}

.player_movie {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.player_movie_cover_inner {
    position: relative;
    width: 240px;
    height: 360px;
}


.player_movie_info {
    display: inline-block;
    width: 65%;

    margin-left: 40px;
}

.player_movie_title {
    font-size: 40px;
    color: #ffffff;
}

.player_movie_category {
    margin-top: 20px;

    font-style: italic;
    font-size: 16px;
	color: #ffffff;
}

.movie_description {
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    color:#fff;
}

.movie_player_block {
    display: inline-block;
    width: 100%;

    margin-top: 40px;
}