<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--	<link rel="stylesheet" href="../static/style.css" />-->
	<link rel="stylesheet" href="{% static 'style.css' %}" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
	<link href="https://fonts.google.com/specimen/Anton#standard-styles" rel="stylesheet"/>
	<link href="https://fonts.google.com/specimen/Aldrich?query=Aldrich" rel="stylesheet"/>
   <title>Anigelion</title>
</head>


<body>

<header class="header">
		<div class="header_inner">
			<div class="header_brand">
				<a href="../base/" class="header_brand_text">Anigelion</a>
			</div>

			<div class="header_logo">
				<img src="../static/img/aska3.svg"  class =" logo_cover"  alt="">
			</div>

			<div class="header_nav">
					<div class="link">
						<a class="header_nav_link_text" href="../Аниме">Аниме</a>
					</div>
					<div class="link">
						<a class="header_nav_link_text" href="../Сериал">Сериалы</a>
					</div>
					<div class="link">
						<a class="header_nav_link_text" href="../Фильм">Фильмы</a>
					</div>

			</div>

			<div id="cover">
                <form class="d-flex" method=POST action="{% url 'search_movies' %}">
                    {% csrf_token %}
                  <div class="tb">
                    <div class="td">
                        <input type="search" placeholder="Поиск..." aria-label="Search" name="searched">
                        <!-- <button class="btn btn-outline-secondary" type="submit">Search</button> -->
                    </div>
                    <div class="td" id="s-cover">
                      <button  class="btn btn-outline-secondary" type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
		</>
</header>

	<div class="container_movies">
		<div class="movies">
			{% block main %}
			{% endblock %}
		</div>
	</div>

</body>
</html>