<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--	<link rel="stylesheet" href="land_style.css" />-->
    <link rel="stylesheet" href="{% static 'land_style.css' %}" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
	<link href="https://fonts.google.com/specimen/Anton#standard-styles" rel="stylesheet"/>
   <title>Anigelion</title>
</head>

<body>
    <div class="brand">
        <span class="brand_text">Anigelion</span>
    </div>

    <div class="content">
        <span class="content_text">Ваши любимые фильмы, сериалы и аниме в <span class="text_quality">4К</span></span>
    </div>

    <div class="text-box">
        <a href="base/" class="btn btn-white btn-animate">смотреть</a>
    </div>


</body>